In [1]:
import pandas as pd

In [2]:
path = "Resources/purchase_data.csv"
df = pd.read_csv(path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Players Count

In [3]:
# Unique Player Count
players = df.SN.unique()
total_players = len(players)
total_players
total_players_df = {'Total Players':[total_players]}
tot_players = pd.DataFrame(total_players_df, index = [0])
tot_players

   Total Players
0            576

# Purchasing Analysis (Total)

In [4]:
# Purchasing Analysis(Total)

# Number of unique items
unique_item = df["Item ID"].unique()
total_unique_item = len(unique_item)

# Total number of purchases
total_id = df["Purchase ID"].count()

# Total Revenue
total_price = df["Price"].sum()

# Average Price
average_df = df["Price"].mean()

# Adding summary table

summary_df = {'Number of Unique Itmes':[total_unique_item],'Average Price':[average_df],
             'Number of Purchases':[total_id],'Total Revenue':[total_price]}
summary_df = pd.DataFrame(summary_df,index = [0])
summary_df.style.format({"Average Price": "${:,.2f}","Total Revenue": "${:,.2f}"})

# Gender Demographics

In [5]:
# Gender Demographics
#Finding number of males
male = df.loc[df["Gender"] == "Male"]
male
unique_male = male["SN"].unique()
unique_males = len(unique_male)

#Finding number of females
female = df.loc[df["Gender"] == "Female"]
female
unique_female = female["SN"].unique()
unique_females = len(unique_female)

#Finding number of others
other = df.loc[df["Gender"] == "Other / Non-Disclosed"]
other
unique_other = other["SN"].unique()
unique_others = len(unique_other)

Per_Male = (unique_males/total_players)*100
# print(Per_Male)

Per_Female = (unique_females/total_players)*100
# print(Per_Female)

Per_Others = (unique_others/total_players)*100
# print(Per_Others)


summary_gender_df = {"Total Count":[unique_males,unique_females,unique_others],"Percentage of Players":[Per_Male,Per_Female,Per_Others]}

summary_gender_df = pd.DataFrame(summary_gender_df,index = ["Male","Female","Other / Non-Disclosed"])
summary_gender_df
summary_gender_df.style.format({"Percentage of Players": "{:,.2f}%"})

# Purchasing Analysis (Gender)

In [6]:
# Purchasing Analysis(Gender)
df.head()
group_gender = df.groupby(["Gender"])
group_gender.count()
gender_count = group_gender['Purchase ID'].count()
gender_count
average_purchase =group_gender['Price'].mean()
average_purchase
total_purchase = group_gender['Price'].sum()
total_purchase
summary_gender = {'Purchase Count':gender_count,'Average Purchase Price':average_purchase,
                  'Total Purchase Value':total_purchase}
summary_gender = pd.DataFrame(summary_gender)

total = summary_gender['Total Purchase Value']
summary_gender['Avg Total Purchase per Person'] = [summary_gender.iloc[0,2]/unique_females,
                                                   summary_gender.iloc[1,2]/unique_males,
                                                   summary_gender.iloc[2,2]/unique_others]
summary_gender.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}",
                             "Avg Total Purchase per Person":"${:,.2f}"})

# Age Demographics

In [7]:
# Age Demographics

bin = [0,9,14,19,24,29,34,39,100]
group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
df["Age Ranges"] = pd.cut(df["Age"], bin, labels=group, include_lowest=False)
df.head()


unique = df.drop_duplicates(['SN'])
unique
player_count = unique['Age Ranges'].value_counts().sort_index()
player_count

player_percent = (player_count / player_count.sum())*100
player_percent



summary_agedemo = {"Total Count":player_count,"Percentage of Players":player_percent}
summary_agedemo = pd.DataFrame(summary_agedemo)
summary_agedemo

summary_agedemo.style.format({"Percentage of Players": "{:,.2f}%"})

# Purchasing Analysis (Age)

In [20]:
# Purchasing Analysis
bin = [0,9,14,19,24,29,34,39,100]
group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
df["Age Ranges"] = pd.cut(df["Age"], bin, labels=group, include_lowest=False)
df.head()

group_range = df.groupby(['Age Ranges'])

range_count = group_range['Purchase ID'].count()
range_count
range_price = group_range['Price'].sum()
range_price
range_average = group_range['Price'].mean()
range_average
range_total_average = group_range['Price'].sum() / player_count
range_total_average
summary_ranges = {'Purchase Count':range_count,'Average Purchase Price':range_average,
                  'Total Purchase Value':range_price,'Avg Total Purchase per Person':range_total_average}
summary_ranges = pd.DataFrame(summary_ranges)
summary_ranges
summary_ranges.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}",
                             "Avg Total Purchase per Person":"${:,.2f}"})

# Top Spender

In [21]:
# Top Spenders
df.head()
group_sn = df.groupby(["SN"])
group_sn_counts = group_sn["Purchase ID"].count()
group_sn_counts
total_purchase = group_sn["Price"].sum()
total_purchase
average = group_sn["Price"].mean()
average
summary_topspender = pd.DataFrame({"Purchase Count":group_sn_counts,"Average Purchase Price":average,"Total Purchase Value":total_purchase})
summary_topspender
summary_sort_topspender = summary_topspender.sort_values("Total Purchase Value", ascending=False)

summary_sort_topspender
summary_sort_topspender.head().style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

# Most Popular Items

In [22]:
# Most Popular item
total_item = df.groupby(["Item ID","Item Name"])
pur_count = total_item["Purchase ID"].count()
pur_count
purchase_value = total_item["Price"].sum()
purchase_value
item_price = total_item["Price"].mean()

summary_mostpop = pd.DataFrame({"Purchase Count":pur_count,"Item Price":item_price,"Total Purchase Value":purchase_value})
summary_mostpop
summary_sort_mostpop = summary_mostpop.sort_values("Purchase Count", ascending=False)
summary_sort_mostpop.head().style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

# Most Profitable Items

In [23]:
# Most Profitable Item
summary_sort_mostpop = summary_mostpop.sort_values("Total Purchase Value", ascending=False)
summary_sort_mostpop
summary_sort_mostpop.head().style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

# Three Observable Trends

1 Percentage of Male players dominates the game with 84.03% of the total 780 players.

2 Maximum purchase are done by players between age group 20 - 24 almost 44.79% and everyother age group is less than 20%.

3 Most popular and profitable are the same game "Final Critic" with a purchase count of 13.

4 Top 5 contributers generate almost 10% of the total revenue.