In [41]:
import pandas as pd

In [42]:
path = "Resources/purchase_data.csv"
df = pd.read_csv(path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [43]:
# Player Count

players = df.SN.unique()
total_players = len(players)
total_players
total_players_df = {'Total Players':[total_players]}
tot_players = pd.DataFrame(total_players_df, index = [0])
tot_players

   Total Players
0            576

In [44]:
# Purchasing Analysis(Total)

# Number of unique items
unique_item = df["Item ID"].unique()
total_unique_item = len(unique_item)

# Total number of purchases
total_id = df["Purchase ID"].count()

# Total Revenue
total_price = df["Price"].sum()

# Average Price
average_df = total_price / total_id

# Adding summary table

summary_df = {'Number of Unique Itmes':[total_unique_item],'Average Price':[average_df],
             'Number of Purchases':[total_id],'Total Revenue':[total_price]}
summary_df = pd.DataFrame(summary_df,index = [0])
summary_df.style.format({"Average Price": "${:,.2f}","Total Revenue": "${:,.2f}"})

In [45]:
# Gender Demographics

male = df.loc[df["Gender"] == "Male"]
male
unique_male = male["SN"].unique()
unique_males = len(unique_male)

female = df.loc[df["Gender"] == "Female"]
female
unique_female = female["SN"].unique()
unique_females = len(unique_female)

other = df.loc[df["Gender"] == "Other / Non-Disclosed"]
other
unique_other = other["SN"].unique()
unique_others = len(unique_other)

Per_Male = (unique_males/total_players)*100
# print(Per_Male)

Per_Female = (unique_females/total_players)*100
# print(Per_Female)

Per_Others = (unique_others/total_players)*100
# print(Per_Others)


summary_gender_df = {"Total Count":[unique_males,unique_females,unique_others],"Percentage of Players":[Per_Male,Per_Female,Per_Others]}

summary_gender_df = pd.DataFrame(summary_gender_df,index = ["Male","Female","Other / Non-Disclosed"])
summary_gender_df
summary_gender_df.style.format({"Percentage of Players": "{:,.2f}%"})

In [46]:
# Purchasing Analysis(Gender)
df.head()
group_gender = df.groupby(["Gender"])
group_gender.count()
gender_count = group_gender['Purchase ID'].count()
gender_count
average_purchase =group_gender['Price'].mean()
average_purchase
total_purchase = group_gender['Price'].sum()
total_purchase
summary_gender = {'Purchase Count':gender_count,'Average Purchase Price':average_purchase,
                  'Total Purchase Value':total_purchase}
summary_gender = pd.DataFrame(summary_gender)

total = summary_gender['Total Purchase Value']
summary_gender['Avg Total Purchase per Person'] = [summary_gender.iloc[0,2]/unique_females,
                                                   summary_gender.iloc[1,2]/unique_males,
                                                   summary_gender.iloc[2,2]/unique_others]
summary_gender.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}",
                             "Avg Total Purchase per Person":"${:,.2f}"})

In [47]:
# Age Demographics

bin = [0,9,14,19,24,29,34,39,100]
group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
df["Age Ranges"] = pd.cut(df["Age"], bin, labels=group, include_lowest=False)
df.head()
less_10 = df.loc[df["Age Ranges"] == "<10"]
unique_less_10 = less_10["SN"].unique()
unique_less_10 = len(unique_less_10)

less_1014 = df.loc[df["Age Ranges"] == "10-14"]
unique_less_1014 = less_1014["SN"].unique()
unique_less_1014 = len(unique_less_1014)

less_1519 = df.loc[df["Age Ranges"] == "15-19"]
unique_less_1519 = less_1519["SN"].unique()
unique_less_1519 = len(unique_less_1519)

less_2024 = df.loc[df["Age Ranges"] == "20-24"]
unique_less_2024 = less_2024["SN"].unique()
unique_less_2024 = len(unique_less_2024)

less_2529 = df.loc[df["Age Ranges"] == "25-29"]
unique_less_2529 = less_2529["SN"].unique()
unique_less_2529 = len(unique_less_2529)

less_3034 = df.loc[df["Age Ranges"] == "30-34"]
unique_less_3034 = less_3034["SN"].unique()
unique_less_3034 = len(unique_less_3034)

less_3539 = df.loc[df["Age Ranges"] == "35-39"]
unique_less_3539 = less_3539["SN"].unique()
unique_less_3539 = len(unique_less_3539)

less_40 = df.loc[df["Age Ranges"] == "40+"]
unique_less_40 = less_40["SN"].unique()
unique_less_40 = len(unique_less_40)

p1 = (unique_less_10/total_players)*100
p2 = (unique_less_1014/total_players)*100
p3 = (unique_less_1519/total_players)*100
p4 = (unique_less_2024/total_players)*100
p5 = (unique_less_2529/total_players)*100
p6 = (unique_less_3034/total_players)*100
p7 = (unique_less_3539/total_players)*100
p8 = (unique_less_40/total_players)*100


summary_agedemo = {"Total Count":[unique_less_10,unique_less_1014,unique_less_1519,unique_less_2024,unique_less_2529,unique_less_3034,unique_less_3539,
        unique_less_40],"Percentage of Players":[p1,p2,p3,p4,p5,p6,p7,p8]}
summary_agedemo = pd.DataFrame(summary_agedemo,index=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
summary_agedemo
summary_agedemo.style.format({"Percentage of Players": "{:,.2f}%"})

In [48]:
# Purchasing Analysis
bin = [0,9,14,19,24,29,34,39,100]
group = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
df["Age Ranges"] = pd.cut(df["Age"], bin, labels=group, include_lowest=False)
df.head()

group_range = df.groupby(['Age Ranges'])
range_count = group_range['Purchase ID'].count()
range_count
range_price = group_range['Price'].sum()
range_price
range_average = group_range['Price'].mean()
range_average
summary_ranges = {'Purchase Count':range_count,'Average Purchase Price':range_average,
                  'Total Purchase Value':range_price}
summary_ranges = pd.DataFrame(summary_ranges)
summary_ranges
summary_ranges['Avg Total Purchase per Person'] = [summary_ranges.iloc[0,2]/unique_less_10,
                                                   summary_ranges.iloc[1,2]/unique_less_1014,
                                                   summary_ranges.iloc[2,2]/unique_less_1519,
                                                  summary_ranges.iloc[3,2]/unique_less_2024,
                                                  summary_ranges.iloc[4,2]/unique_less_2529,
                                                  summary_ranges.iloc[5,2]/unique_less_3034,
                                                  summary_ranges.iloc[6,2]/unique_less_3539,
                                                  summary_ranges.iloc[7,2]/unique_less_40,]
summary_ranges.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}",
                             "Avg Total Purchase per Person":"${:,.2f}"})

In [50]:
# Top Spenders
df.head()
group_sn = df.groupby(["SN"])
group_sn_counts = group_sn["Purchase ID"].count()
group_sn_counts

total_purchase = group_sn["Price"].sum()
total_purchase
average = (group_sn["Price"].sum()) / group_sn_counts
average
summary_topspender = pd.DataFrame({"Purchase Count":group_sn_counts,
                                   "Average Purchase Price":average,
                                   "Total Purchase Value":total_purchase})
summary_topspender
summary_sort_topspender = summary_topspender.head().sort_values("Total Purchase Value", ascending=False)

summary_sort_topspender.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

In [51]:
# Most Popular item
total_item = df.groupby(["Item ID","Item Name"])
pur_count = total_item["Purchase ID"].count()
pur_count
purchase_value = total_item["Price"].sum()
purchase_value
item_price = purchase_value / pur_count
item_price

summary_mostpop = pd.DataFrame({"Purchase Count":pur_count,"Item Price":item_price,"Total Purchase Value":purchase_value})
summary_mostpop
summary_sort_mostpop = summary_mostpop.head().sort_values("Purchase Count", ascending=False)
summary_sort_mostpop.style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

In [52]:
# Most Profitable Item
summary_sort_mostpop = summary_mostpop.sort_values("Total Purchase Value", ascending=False)
summary_sort_mostpop
summary_sort_mostpop.head().style.format({"Item Price":"${:.2f}","Total Purchase Value":"${:.2f}"})

# Three Observable Trends

1 Percentage of Male players dominates the game with 84.03%.

2 Even though Male dominates in numbers,spending per person figure shows Females are ahead in spending.

3 Maximum purchase are done by players between age group 20 - 24.